@font-face {
    font-family: Poppins;
    src: url(Poppin/);

}


* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    scroll-behavior: smooth;
    text-decoration: none;
    font-family: 'Poppins', 'sans-serif';
}

.container{
    width: 100%
}

.container-child{
    height: 100%;
    width: 85%;
    margin: 0 auto;
    padding: 10px;
}

.header{
    background-color: #2c4094;
    height: 55px;
}

.header div {
    height: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.header div p {
    font-size: 18px;
    color: #fff;

}

.secondNav{
    margin-top: 20px;
}

.logo {

    display: flex;
    align-items: center;
    gap: 10px;
}

.logo img {
    width: 5.5rem;
}

.logo a {
    font-weight: 600;
    font-size: 20px;
    color: #2c4094;
}

.SNav {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

nav{
    display: flex;
    gap: 40px;
    align-items: center;
} 

nav a {
    color: black;
    font-size: 20px;
    transition: 0.1s all ease-in-out;

}

nav a:hover,
nav a:active {
    color: #2c4094;
    text-decoration: underline;
    text-underline-offset: 10px;
}

nav a:nth-child(4){
    border:2px solid #2c4094;
    border-radius: 20px;
    padding: 10px 20px;
}

nav a:nth-child(4):hover{
    text-decoration: none;
    background-color: #2c4094;
    color: #fff;
}

.pics {
    position: relative;
    margin-bottom: 70px;
}

.bg{
    margin-top: 30px;
    background-image: url(photo_1_2023-08-27_07-07-22_o5zhe4.jpg);
    background-size: cover;
    width: 100%;
    height: 275px;
}

.pitain h1 {
    position: absolute;
    top: 105px;
    font-size: 35px;
    font-weight: 600;
    color: #fff;
    text-decoration: underline;
    text-underline-offset: 20px;
}

.blog {
    margin-top: 6px;
}

.blg {
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-wrap: wrap;
    gap: 20px;
}

.item {
    border: 1px solid black;
    border-radius: 10px;
    width: 32%;
}

.words {
    padding: 20px 15px;
}

.item img {
    width: 100%;
    border-radius: 10px 10px 0 0;
}

.words h4 {
    font-size: 20px;
    margin-bottom: 10px;
    font-weight: 600;
}

.words p {
    font-size: 13px;
    margin-bottom: 10px;
}

.words button {
    color: #fff;
    background-color: #000;
    padding: 7px;
    border-radius: 10px;
    height: 40px;
    width: 70px;
    cursor: pointer;
    border: none;
    text-align: center;

}



.contact {
    margin-top: 100px;
}

.cont {
    display: flex;
    justify-content: space-between;
    gap: 30px;
}

.first {
    display: flex;
    flex-direction: column;
    gap: 110px;
    font-weight: 500;
    /* margin: auto 0; */
}

.first h2{
    font-size: 20px;
    font-weight: 600;
}

.first img{
    width: 60%;
}

.second {
    display: flex;
    flex-direction: column;
    gap: 30px;
}

.second div {
    display: flex;
    gap: 30px;
}

.second h2 {
    font-size: 30px;
    font-weight: 600;
}

.second div h4 {
    font-weight: 500;
}

.second div img {
    width: 8%;
}

.third {
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.third h2 {
    font-size: 30px;
    font-weight: 600;
}

.third a {
    color: #000;
    font-size: 19px;
    transition: 0.2s ease-in-out;
}

.third a:hover{
    color: #2c4094;
}

footer {
    margin-top: 50px;
    background-color: #2c4094;
}

.foot {
    display: flex;
    justify-content: space-between;
    padding: 30px 0;
    align-items: center;
}

.foot p {
    color: #fff;
}

.social {
    display: flex;
    justify-content: space-between;
    gap: 15px;
}



@media (max-width: 768px) {

    .header div{
        justify-content: center;
    }

    .headerNone{
        display: none;
    }
    
    .header div p {
        font-size: 15px;
        text-align: center;
    }

    nav {
        display: none;
    }

    .logo img {
        width: 50px;
    } 

    .logo a:nth-child(2) {
        display: none;
    }

    .bg {
        width: 100%;
        background-size:cover;
        height: 150px;
    }

    .pitain h1 {
        top: 50px;
        font-size: 30px;
    }


    .blg {
        flex-direction: column;
    }

    .item {
        width: 100%;
    }

    .cont {
        flex-direction: column;
    }

    .first img {
        width: 45%;
    }

    .foot p {
        font-size: 15px;
        text-align: center;
    }
    
    .social {
        display: none;
    }
}
